body {
    background-color: black !important;
    color: white !important;
}


.movie_adult {
    color: red;
    font-style: italic;
    font-family: fantasy;
}






.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.banner {
    height: 600px;
    display: flex;
    align-items: center;
}

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 600px;
    content: '';
    background: linear-gradient(to right, black, transparent);
}

.banner-info {
    width: 40%;
    margin-left: 30px;
    z-index: 1;
}

.home_movie_list{
    margin-bottom: 20px;
}
.last_list{
    height: 200px;
}

.card {
    width: 300px;
    height: 160px;
    background-size: cover;
    border-radius: 5px;
    transform: scale(0.5s);
    transition: height 0.5s;
}

.overlay {
    position: relative;
    padding: 10px;
    opacity: 0;
    background: rgba(43, 41, 41, 0.9);
    width: 100%;
    height: 100%;
}
.home_card:hover{
    height: 300px;
}

.card:hover .overlay {
    opacity: 1;
}
.home_genre_wrap{
    margin-top: 10px;
}
.home_genre{
    margin-right: 10px;
}
.home_social{
    margin-top: 10px;
}
.home_social span{
    margin-right: 10px;
}

.loader-wrap {
    text-align: center;
    height: 70vh;
    padding-top: 30vh;
}

/* MovieDetail */
.detail_changebutton{
    margin-top: 60px;
    margin-left: 6em;
}
.change_button{
    font-size: 18px;
    font-weight: 600;
    width: 250px;
    height: 55px;
    border: 1px double black;
    border-width: 4px;
    border-radius: 10px;
    margin-right: 20px;
}



/* MovieDetailInfo */
.info_all_wrap{
    margin-top: 50px;
}
.info_genre_badge{
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
    border-radius: 10px;
}

.info_title{
    font-size: 65px;
}

.info_tagline{
    margin: 15px auto;
}

.info_social span {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
}
.info_overview{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info_sale{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.info_sale ul{
    padding: 0;
}
.info_sale ul li{
    list-style: none;
    margin-bottom: 5px;
}
.info_badge{
    width: 120px;
    margin-right: 5px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
}

.imdb_icon{
    color: orange;
}
.users_icon{
    color: gray;
}

.info_fav{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    border: 1px double black;
    border-width: 5px;
    border-radius: 50%;
}
.info_fav:hover{
    transform: scale(1.2);
}
.info_trailer{
    color: red;
}
.info_trailer:hover{
    cursor: pointer;
    color: rgb(196, 77, 192);
}

.modal_wrap{
    background-color: rgba(232, 243, 253, 0.7);
}
.modal_div{
    background-color: black;
}
.modal_hide{
    margin-top: 10px;
    margin-right: 10px;
    text-align: end;
}
.modal_hide button{
    background-color: black;
    border: none;
}
.modal_trailer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* DetailReview */
.review_wrap{
    margin: 40px auto 160px;
    border: 4px solid white;
    padding: 40px;
}
.review_wrap .review_list:last-child{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.review_list{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* DetailRecommend */
.recommend_wrap{
    margin: 40px auto 160px;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recommend_wrap .card{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 30px;
}

/* Movies */
.remote_wrap{
    width: 300px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
.remote_wrap .top{
    display: flex;
    height: 50px;
    padding: 10px 20px;
    justify-content: space-between;
}
.remote_wrap .under{
    border-top: 2px solid white;
}

.filter_wrap_close{
    height: 50px;
}
.filter_under_close{
    display: none;
}
/* MoviesSort.js */
.sort_wrap{
    height: 150px;
}
.sort_under{
    padding-top: 20px;
    text-align: center;
}
.sort_wrap_close{
    height: 50px;
}
.sort_under_close{
    display: none;
}

.sort_button_wrap{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sort_button{
    width: 150px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom right, red , black 60%);
}
.button_list{
    width: 150px;
    z-index: 10;
}
.button_list ul{
    padding: 0;
    background: linear-gradient(to bottom, red, black);
}
.button_list_off{
    display: none;
}
.sort_list{
    width: 150px;
    height: 30px;
    list-style: none;
    color: white;
    border: 1px solid black;
}
.sort_list:hover{
    cursor: pointer;
}

/* MoviesFilter.js */
.year_filter{
    height: 100px;
    text-align: center;
    padding-top: 17px;
}
.score_filter{
    height: 100px;
    text-align: center;
    padding-top: 17px;
}
.filter_range{
    margin: auto;
}

.genres_filter{
    height: 560px;
    padding-top: 17px;
}
.genres_filter div{
    text-align: center;
    font-size: larger;
}
.genres_button{
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, red, black);
}

/* MoviesCard.js */
.movies_card .overlay{
    position: relative;
    opacity: 1;
    padding: 20px;
    background: linear-gradient(to right, black, transparent);
}
.movies_card_top{
    display: flex;
}
.card_top_poster{
    margin-right: 5px;
    margin-bottom: 5px;
}
.card_top_text{
    width: 190px;
}
.card_top_text span{
    color: rgb(152, 175, 228);
}
.movies_card_middle{
    width: 60%;
}
.middle_genre{
    margin-right: 5px;
    margin-bottom: 5px;
}
.movies_card_bottom{
    position: absolute;
    bottom: 10px;
}
.card_bottom_social span{
    margin-right: 10px;
}

.movies_Card_List{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 100vh;
}

.movies_Pagination_wrap{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.pagination{
    height: 27px;
    margin-top: 20px;
}
.pagination li{
    width: 50px;
    margin-right: 5px;
    text-align: center;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
}
.pagination a{
    text-decoration: none;
    color: red;
    font-weight: 600;

}



/* MoviesCard.js */
.movies_card{
    width: 320px;
    height: 540px;
    margin-top: 20px;
    margin-right: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.1s linear;
    border: none;
}
.movies_card:hover{
    transform: scale(1.05);
}

@media (max-width : 991.9px) {
    .info_genre_wrap{
        margin-top: 40px;
    }
}